@model UAIBay.WebSite.ViewModel.CategoriaViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="colorNaranja" >@UAIBay.WebSite.Resources.Recurso.DetallesDeCategoria</h2>
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.HiddenFor(model => model.IdCategoria)
        @Html.Label(@UAIBay.WebSite.Resources.Recurso.Nombre, new { @class = "control-label col-md-2", @id = "colorNaranja" })
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-info"></i>
                </span>
                @Html.TextBoxFor(x => x.Nombre, new { @readonly = "readonly", @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Update", "Categoria", new { id = Model.IdCategoria })" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Editar"><i class="fa fa-fw fa-pencil-square-o"></i></a>
            <a href="@Url.Action("Index","Categoria")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
        </div>
    </div>
</div>
