@model UAIBay.WebSite.ViewModel.CategoriaViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CategoriaViewModels</h4>
	<hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.HiddenFor(model => model.IdCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id=Model.IdCategoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
