@*@model IEnumerable<UAIBay.WebSite.ViewModel.CategoriaViewModels>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<UAIBay.WebSite.ViewModel.CategoriaViewModels>

<h2>Categorías</h2>

<p>
    @Html.ActionLink("Nueva categoría", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Update", new { id = item.IdCategoria }) |
                @Html.ActionLink("Ver", "Details", new { id = item.IdCategoria }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCategoria })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
