@model UAIBay.WebSite.ViewModel.UsuarioViewModels

@{
    ViewBag.Title = "Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<aside class="profile-card">
    <div class="cardHeader">
        <a>
            <img src="http://www.w3schools.com/w3css/img_avatar3.png">
        </a>
        <h1>@Model.Nombre @Model.Apellido</h1>
    </div>
    <div class="profile-bio">
        <p>Tu cuenta!</p>
        <p>
           @using (Html.BeginForm())
           {
            @Html.AntiForgeryToken()
            <br />
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.UserId)

                @Html.HiddenFor(model => model.Password)

                @Html.HiddenFor(model => model.PasswordHash)

                @Html.HiddenFor(model => model.Sexo)

                @Html.HiddenFor(model => model.IdRol)

                <div class="form-group">
                    @Html.LabelFor(model => model.DNI, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-info"></i>
                            </span>
                            @Html.TextBoxFor(x => x.DNI, new { @placeholder = "DNI", @type = "number", @class = "form-control", required = "required" , @readonly="readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DNI)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Nombre, new { @placeholder = "Nombre", @class = "form-control", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Apellido, new { @placeholder = "Apellido", @class = "form-control", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Apellido)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Telefono, new { @placeholder = "Telefono", @type = "number", @class = "form-control", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            @Html.TextBoxFor(x => x.FechaNacimiento, new { @placeholder = "Fecha de nacimiento", @class = "form-control", @type = "date", required = "required", @Value = @Model.FechaNacimiento.ToString("yyyy-MM-dd") })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaNacimiento)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-info"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Email, new { @readonly = "readonly", @class = "form-control", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    <center>
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Editar"><i class="fa fa-fw fa-edit"></i></button>
                            <a href="@Url.Action("MisDirecciones", "Account")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Direcciones"><i class="fa fa-fw fa-home"></i></a>
                            <a href="@Url.Action("Index","Home")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
                        </div>
                    </center>
                </div>
            </div>
           }
        </p>
    </div>
</aside>
<br />