@model UAIBay.WebSite.ViewModel.UsuarioViewModels

@{
    ViewBag.Title = "Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<center>
    <div class="w3-container">
        <h2 class="colorNaranja">Mi cuenta</h2>
        <div class="w3-card-12" style="width:50%">
            <img src="http://www.w3schools.com/w3css/img_avatar3.png" alt="Norway" style="width:100%">
            <div class="w3-container w3-center">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <br />
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.UserId)

                        @Html.HiddenFor(model => model.Password)

                        @Html.HiddenFor(model => model.PasswordHash)

                        @Html.HiddenFor(model => model.Sexo)


                        <div class="form-group">
                            @Html.LabelFor(model => model.DNI, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-info"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.DNI, new { @placeholder = "DNI", @type = "number", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DNI)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.Nombre, new { @placeholder = "Nombre", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Nombre)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.Apellido, new { @placeholder = "Apellido", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Apellido)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.Telefono, new { @placeholder = "Telefono", @type = "number", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Telefono)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.FechaNacimiento, new { @placeholder = "Fecha de nacimiento", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.FechaNacimiento)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-info"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.DNI, new { @readonly = "readonly", @type = "number", @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <center>
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Editar"><i class="fa fa-fw fa-edit"></i></button>
                                    <a href="@Url.Action("Index","Home")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.AgregueUnaNuevaDireccion"><i class="fa fa-fw fa-home"></i></a>
                                    <a href="@Url.Action("Index","Home")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
                                </div>
                            </center>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</center>
<br />*@



@*<h3>Cuenta</h3>*@

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.UserId)

            @Html.HiddenFor(model => model.Password)

            @Html.HiddenFor(model => model.PasswordHash)

            @Html.HiddenFor(model => model.Sexo)


            <div class="form-group">
                @Html.LabelFor(model => model.DNI, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DNI, new { @type = "number" })
                    @Html.ValidationMessageFor(model => model.DNI)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Apellido)
                    @Html.ValidationMessageFor(model => model.Apellido)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono)
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Volver", "Index")
    </div>*@


<aside class="profile-card">
    <div class="cardHeader">
        <a>
            <img src="http://www.w3schools.com/w3css/img_avatar3.png">
        </a>
        <h1>@Model.Nombre @Model.Apellido</h1>
    </div>
    <div class="profile-bio">
        <p>Tu cuenta!</p>
        <p>
           @using (Html.BeginForm())
           {
            @Html.AntiForgeryToken()
            <br />
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.UserId)

                @Html.HiddenFor(model => model.Password)

                @Html.HiddenFor(model => model.PasswordHash)

                @Html.HiddenFor(model => model.Sexo)


                <div class="form-group">
                    @Html.LabelFor(model => model.DNI, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-info"></i>
                            </span>
                            @Html.TextBoxFor(x => x.DNI, new { @placeholder = "DNI", @type = "number", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DNI)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Nombre, new { @placeholder = "Nombre", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Apellido, new { @placeholder = "Apellido", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Apellido)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Telefono, new { @placeholder = "Telefono", @type = "number", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaNacimiento, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            @Html.TextBoxFor(x => x.FechaNacimiento, new { @placeholder = "Fecha de nacimiento", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FechaNacimiento)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-info"></i>{´´}
                            </span>
                            @Html.TextBoxFor(x => x.Email, new { @readonly = "readonly", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    <center>
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Editar"><i class="fa fa-fw fa-edit"></i></button>
                            <a href="@Url.Action("Index","Home")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.AgregueUnaNuevaDireccion"><i class="fa fa-fw fa-home"></i></a>
                            <a href="@Url.Action("Index","Home")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
                        </div>
                    </center>
                </div>
            </div>
           }
        </p>
    </div>
    @*<ul class="profile-social-links">

        <li>
            <a href="http://twitter.com/tutsplus">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
            </a>
        </li>

        <li>
            <a href="http://envato.com">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
            </a>
        </li>

        <li>
            <a href="http://codepen.io/tutsplus">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
            </a>
        </li>
    </ul>*@
</aside>
<br />