@model List<SelectListItem>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>@UAIBay.WebSite.Resources.Recurso.IniciaSesion</h2>


                    @using (@Html.BeginForm("Ingresar", "Account", FormMethod.Post))
                    {
                        <input name="user" type="email" placeholder="@UAIBay.WebSite.Resources.Recurso.Email" required />
                        @Html.ValidationMessage("user")

                        <input name="pw" type="password" placeholder="@UAIBay.WebSite.Resources.Recurso.Contraseña" required />
                        @Html.ValidationMessage("pw")

                        @Html.ValidationMessage("login")
                        <button type="submit" class="btn btn-default">@UAIBay.WebSite.Resources.Recurso.IniciarSesion</button>

                    }


                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">O</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>@UAIBay.WebSite.Resources.Recurso.Registrarse</h2>

                    @using (@Html.BeginForm("Registrar", "Account", FormMethod.Post))
                    {
                        @Html.ValidationMessage("email")
                        

                        <input type="number" placeholder="DNI" name="dni" required />
                        @Html.ValidationMessage("dni")


                        <input type="text" placeholder="@UAIBay.WebSite.Resources.Recurso.Nombre" name="nombre" required />
                        @Html.ValidationMessage("nombre")

                        <input type="text" placeholder="@UAIBay.WebSite.Resources.Recurso.Apellido" name="apellido" required />
                        @Html.ValidationMessage("apellido")

                        <input type="email" placeholder="@UAIBay.WebSite.Resources.Recurso.Email" name="email" required />
                        

                        <input type="password" placeholder="@UAIBay.WebSite.Resources.Recurso.Contraseña" name="password" required />
                        @Html.ValidationMessage("password")

                        <input type="password" placeholder="@UAIBay.WebSite.Resources.Recurso.RepetirContraseña" required name="passwordRepetir" />
                        @Html.ValidationMessage("passwordRepetir")

                        @*<input type="text" placeholder="Provincia" required name="provincia" />*@

                        @Html.DropDownList("Provincia", Model, "Seleccionar provincia", new { @class = "form-control", @required = "required", @name = "provincia" })

                        @Html.ValidationMessage("provincia")

                        <br />

                        <input type="text" placeholder="Localidad" required name="localidad" />
                        @Html.ValidationMessage("localidad")

                        <input type="text" placeholder="Domicilio" required name="domicilio" />
                        @Html.ValidationMessage("domicilio")

                        <input type="number" placeholder="CodigoPostal" required name="codigoPostal" />
                        @Html.ValidationMessage("codigoPostal")

                        <input type="number" placeholder="@UAIBay.WebSite.Resources.Recurso.Telefono" name="telefono" required />
                        @Html.ValidationMessage("telefono")



                        <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento" required />
                        @Html.ValidationMessage("fechaNacimiento")

                        <select name="sexo">
                            <option value="true">@UAIBay.WebSite.Resources.Recurso.Masculino</option>
                            <option value="false">@UAIBay.WebSite.Resources.Recurso.Femenino</option>
                        </select>
                        <br />
                        <br />

                        <button type="submit" class="btn btn-default">@UAIBay.WebSite.Resources.Recurso.Registrese</button>


                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
