@model UAIBay.WebSite.ViewModel.DireccionViewModels

@{
    ViewBag.Title = "CreateDir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="colorNaranja">@UAIBay.WebSite.Resources.Recurso.AgregueUnaNuevaDireccion</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label(@UAIBay.WebSite.Resources.Recurso.Domicilio, new { @class = "control-label col-md-2", @id = "colorNaranja" })
            <div class="col-md-10">
                <input type="text" name="dom" required class="form-control">
                @Html.ValidationMessage("dom")
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@UAIBay.WebSite.Resources.Recurso.Localidad, new { @class = "control-label col-md-2", @id = "colorNaranja" })
            <div class="col-md-10">
                <input type="text" name="loc" required class="form-control">
                @Html.ValidationMessage("loc")
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@UAIBay.WebSite.Resources.Recurso.Provincia, new { @class = "control-label col-md-2", @id = "colorNaranja" })
            <div class="col-md-10">
                @Html.DropDownList("provincia", ViewBag.Provincia as List<SelectListItem>, "Seleccionar..", new { @class = "form-control", @required = "required", @name = "provincia" })
                @Html.ValidationMessageFor(model => model.Provincia)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(@UAIBay.WebSite.Resources.Recurso.CodigoPostal, new { @class = "control-label col-md-2", @id = "colorNaranja" })
            <div class="col-md-10">
                <input type="number" name="cp" required class="form-control">
                @Html.ValidationMessage("cp")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Crear"><i class="fa fa-fw fa-check"></i></button>
                <a href="@Url.Action("MisDirecciones","Account")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
}
