@model UAIBay.WebSite.ViewModel.ProductoViewModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="colorNaranja">@UAIBay.WebSite.Resources.Recurso.DeseaEliminarElProducto</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.CodProducto)

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.Label(@UAIBay.WebSite.Resources.Recurso.Descripción, new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-info"></i>
                        </span>
                        @Html.TextBoxFor(model => model.Descripcion, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@UAIBay.WebSite.Resources.Recurso.Cantidad, new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-info"></i>
                        </span>
                        @Html.TextBoxFor(model => model.Cantidad, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@UAIBay.WebSite.Resources.Recurso.PrecioCompra, new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        @Html.TextBoxFor(model => model.PrecioCompra, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@UAIBay.WebSite.Resources.Recurso.PrecioVenta, new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        @Html.TextBoxFor(model => model.PrecioVenta, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@UAIBay.WebSite.Resources.Recurso.Categoria, new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-list"></i>
                        </span>
                        @Html.TextBoxFor(model => model.Categoria.Nombre, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@UAIBay.WebSite.Resources.Recurso.Imagen, new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-photo"></i>
                        </span>
                        @Html.DisplayFor(model => model.Imagen)
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Eliminar"><i class="fa fa-fw fa-close"></i></button>
                    <a href="@Url.Action("Index","Producto")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    }
</div>
