@*@model IEnumerable<UAIBay.WebSite.ViewModel.ProveedorViewModels>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<UAIBay.WebSite.ViewModel.ProveedorViewModels>

<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Nuevo proveedor", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("CUIT")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Domicilio")
        </th>
        <th>
            @Html.DisplayName("Localidad")
        </th>
        <th>
            @Html.DisplayName("Codigo postal")
        </th>
        <th>
            @Html.DisplayName("E-mail")
        </th>
        <th>
            @Html.DisplayName("Teléfono")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CUIT }) |
                @Html.ActionLink("Ver", "Details", new { id = item.CUIT }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.CUIT })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
