@model UAIBay.WebSite.ViewModel.PromocionViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string codigo = ViewBag.CodDescuento;

}

<h3>Nueva promoción</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Nro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Nro, new { @readonly = "readonly", @Value = @codigo })

                @Html.ValidationMessageFor(model => model.Nro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descuento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descuento) %
                @Html.ValidationMessageFor(model => model.Descuento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaVencimiento)
                @Html.ValidationMessageFor(model => model.FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
