@model UAIBay.WebSite.ViewModel.PromocionViewModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="colorNaranja">Desea eliminar la promocion?</h2>

<div>
    @using (Html.BeginForm())
    {

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.HiddenFor(model => model.CodPromocion)
                @Html.Label("Numero", new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-info"></i>
                        </span>
                        @Html.TextBoxFor(x => x.Nro, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Descuento", new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        @Html.TextBoxFor(x => x.Descuento, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Fecha de vencimiento", new { @class = "control-label col-md-2", @id = "colorNaranja" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        @Html.TextBoxFor(x => x.FechaVencimiento, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Eliminar"><i class="fa fa-fw fa-close"></i></button>
                    <a href="@Url.Action("Index","Promocion")" class="btn btn-default add-to-cart" data-toggle="tooltip" title="@UAIBay.WebSite.Resources.Recurso.Volver"><i class="fa fa-fw fa-arrow-left"></i></a>
                </div>
            </div>
        </div>


    }
    @*@using (Html.BeginForm())
        {
            <hr />
            <dl class="dl-horizontal">

                <dd>
                    @Html.HiddenFor(model => model.CodPromocion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descuento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descuento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaVencimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaVencimiento)
                </dd>

            </dl>


                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }*@
</div>
