@model IEnumerable<UAIBay.WebSite.ViewModel.ItemCarritoViewModels>

@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="cart_items">


<h2>Carrito</h2>

    <div class="table-responsive cart_info">
        <table class="table table-condensed" id="TablaCarrito">
            <thead>
                <tr class="cart_menu">
                    <th>
                        @Html.DisplayName(@UAIBay.WebSite.Resources.Recurso.Nombre)
                    </th>
                    <th>
                        @Html.DisplayName(@UAIBay.WebSite.Resources.Recurso.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayName(@UAIBay.WebSite.Resources.Recurso.Precio)
                    </th>
                    <th>
                        @Html.DisplayName(@UAIBay.WebSite.Resources.Recurso.SubTotal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="targetfields">
                        <td>
                            <h4> @Html.DisplayFor(modelItem => item.Producto.Descripcion)</h4>
                        </td>
                        <td>

                            <a href="#" class="restar"><i class="fa fa-minus-circle " style="margin:auto 0"></i></a>

                            @Html.TextBoxFor(modelItem => item.Cantidad, new { @class = "cantidad", id = "cantidad", @readonly = true })


                            <a href="#" class="sumar"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>

                        </td>
                        <td>
                            $ @Html.TextBoxFor(modelItem => item.Precio, new { @class = "precio", @readonly = true, id = "precio" })
                        </td>
                        <td class="tdsubtotal">
                            $ @Html.TextBoxFor(modelItem => item.Subtotal, new { @class = "subtotal", @readonly = true, id = "subtotal" })
                        </td>

                        <td>
                            <a href='@(Url.Action("QuitarItem", "Comprar",new { codProducto = item.CodProducto, nroCarrito = item.IdCarrito }))'><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>@UAIBay.WebSite.Resources.Recurso.ConfirmeSuCompra</h3>
            <p>@UAIBay.WebSite.Resources.Recurso.RecuerdeEnviosZonaOeste.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li class="user_info">
                            <label>@UAIBay.WebSite.Resources.Recurso.IngreseSuCodigoDeDescuento</label>
                            @Html.TextBox("cod", null)
                        </li>
                    </ul>
                    <ul class="user_option">
                        <li class="user_info">
                            <label >@UAIBay.WebSite.Resources.Recurso.SeleccioneSuDireccion</label>
                            <select>
                                <option value="Arias">Localidad: Morón,Direccion: Arias 1235,Cod.Postal: 1712</option>
                                <option value="Sarmiento">Localidad: Morón,Direccion: Sarmiento 1501,Cod.Postal: 1712</option>
                                <option value="Alem">Localidad: Morón,Direccion: Alem 1234,Cod.Postal: 1712</option>
                                <option value="Santa Rosa">Localidad: Morón,Direccion: Santa Rosa,Cod.Postal: 1712</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="user_option">
                        <li class="user_info">
                            <center><label style="color:#FE980F">@UAIBay.WebSite.Resources.Recurso.O</label></center>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="user_option">
                            <label>@UAIBay.WebSite.Resources.Recurso.AgregueUnaNuevaDireccion</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field zip-field">
                            <label>@UAIBay.WebSite.Resources.Recurso.Partido:</label>
                            <input type="text" style="background:#F0F0E9">
                        </li>
                        <li class="single_field zip-field">
                            <label>@UAIBay.WebSite.Resources.Recurso.Dirección:</label>
                            <input type="text" style="background:#F0F0E9">
                        </li>
                        <li class="single_field zip-field">
                            <label>@UAIBay.WebSite.Resources.Recurso.CodigoPostal:</label>
                            <input type="text" style="background:#F0F0E9">
                        </li>
                        <li >
                            <button class ="btn btn-default check_out">@UAIBay.WebSite.Resources.Recurso.Agregar</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>@UAIBay.WebSite.Resources.Recurso.SubTotal <span>$<input type="text" id="subtotalcarrito" value="1" readonly="readonly" /></span></li>
                        <li>@UAIBay.WebSite.Resources.Recurso.CostoDeEnvio <span id="enviogratis">@UAIBay.WebSite.Resources.Recurso.Gratis</span></li>
                        <li>@UAIBay.WebSite.Resources.Recurso.Total <span>$<input value="0" readonly="readonly" id="totalcarrito" /></span></li>
                    </ul>
                    <a href='@(Url.Action("Comprar", "Comprar", new { nroCarrito = ViewBag.Carrito, codDescuento = "" }))' class="btn btn-default update">@UAIBay.WebSite.Resources.Recurso.Comprar</a>
                    <a href='@(Url.Action("Catalogo", "Comprar"))' class="btn btn-default check_out">@UAIBay.WebSite.Resources.Recurso.VolverAlCatalogo</a>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    function calcularTotal() {
        var total = 0;
        $('#TablaCarrito .targetfields').each(function () {
            var subtotal = parseInt($(this).find(".subtotal").val());
            total = total + subtotal;
        });
        $('#subtotalcarrito').val(total);
        $('#totalcarrito').val(total);
    }

    function changeQuantity(num, obj) {
        var value_to_set = parseInt($(obj).parent().find('.cantidad').val()) + num;
        if (value_to_set <= 1) { $(obj).parent().find('.cantidad').val(1); return; }
        if (value_to_set > 9) { $(obj).parent().find('.cantidad').val(9); return; }
        $(obj).parent().find('.cantidad').val(value_to_set);
    }

    function changeSubTotal(obj) {
        var $tr = $(obj).parents("tr");
        var precio = $tr.find("td").eq(2).find('.precio').val();
        var subtotal = $tr.find("td").eq(3).find('.subtotal').val();
        var quantity = parseInt($(obj).parent().parent().find('.cantidad').val());
        var subtotalactualizado = precio * quantity;
        $tr.find("td").eq(3).find('.subtotal').val(subtotalactualizado);        
    }


    $().ready(function () {
        var total = 0;
        $('#TablaCarrito .targetfields').each(function () {
            var subtotal = parseInt($(this).find(".subtotal").val());
            total = total + subtotal;
        });
        $('#subtotalcarrito').val(total);
        $('#totalcarrito').val(total);

        $(".restar").click(function () {
            changeQuantity(-1, this);
            changeSubTotal(this);
            calcularTotal();
        });

        $(".sumar").click(function () {
            changeQuantity(1, this);
            changeSubTotal(this);
            calcularTotal();
        })
    });
</script>
