@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nuestrainfo">
    <h1><span>@UAIBay.WebSite.Resources.Recurso.PreguntasFrecuentes</span></h1>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.PrimeraPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.PrimeraRespuesta</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.SegundaPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.SegundaRespuesta</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.TerceraPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.TerceraRespuesta</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.CuartaPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.CuartaRespuesta</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.QuintaPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.QuintaRespuesta</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.SextaPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.SextaRespuesta</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.SeptimaPreguntaFrecuente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.SeptimaRespuesta</p>
</div>

