@model List<UAIBay.WebSite.ViewModel.ProductoViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1 itemprop="text"><span>UAI</span>-BAY</h1>
                                <h2 itemprop="text">@UAIBay.WebSite.Resources.Recurso.BannerslideComunidadTitulo</h2>
                                <p itemprop="text">@UAIBay.WebSite.Resources.Recurso.BannerslideComunidadParrafo</p>

                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/index/slidder-cart.jpg" class="girl img-responsive" alt="Slider Carrito" itemprop="image" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1 itemprop="text"><span>UAI</span>-BAY</h1>
                                <h2 itemprop="text">@UAIBay.WebSite.Resources.Recurso.BannerslideComprasTitulo</h2>
                                <p itemprop="text">@UAIBay.WebSite.Resources.Recurso.BannerslideComprasTitulo</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/index/delivery.jpg" class="girl img-responsive" alt="Slider delivery" itemprop="image" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1 itemprop="text"><span>UAI</span>-BAY</h1>
                                <h2 itemprop="text">@UAIBay.WebSite.Resources.Recurso.BannerslideCalidadParrafo</h2>
                                <p itemprop="text">@UAIBay.WebSite.Resources.Recurso.BannerslideCalidadTitulo</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/index/fruta.jpg" class="girl img-responsive" alt="Slider" itemprop="image" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2 itemprop="text">@UAIBay.WebSite.Resources.Recurso.Categorias</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                        @foreach (UAIBay.WebSite.ViewModel.CategoriaViewModels item in ViewBag.Categorias)
                        {
                            <div class="panel-heading" itemscope itemtype="http://schema.org/Product">
                                <h4 class="panel-title" itemprop="category"><a href="@Url.Action("FiltrarPorCategoria", "Producto", new { idCategoria = item.IdCategoria })">@item.Nombre</a></h4>
                            </div>
                        }
                    </div>

                </div><!--/category-products-->

                <div class="shipping text-center">
                    <!--shipping-->
                    <div>
                        <img src="~/Content/images/home/shipping.jpg" alt="Envios" itemprop="image" />
                    </div>
                    <br />
                    <article>
                        <h4 class="colorNaranja" itemprop="text">¡Seguinos en Facebook!</h4>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fuai.elfuturososvos%2F%3Fref%3Dsearch&tabs&width=196&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="196" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    </article>
                    <br />
                    <article>
                        <a class="twitter-timeline" data-width="221" data-height="200" href="https://twitter.com/UAInow">Tweets by UAInow</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </article>
                    <br />
                </div><!--/shipping-->
            </div>
        </div>

        @*CARGA DE PRODUCTOS*@

        <div class="col-sm-9 padding-right">
            <div class="features_items">

                @if (Model.Count == 0)
                {
                    <h2 class="title text-center" itemprop="text">@UAIBay.WebSite.Resources.Recurso.Catalogo</h2>
                    <h5 class="colorNaranja" itemprop="text">No hay productos disponibles.</h5>
                }
                else
                {
                <!--features_items-->
                    <h2 class="title text-center" itemprop="text">@UAIBay.WebSite.Resources.Recurso.NuestrosUltimosProductos</h2>
                    foreach (var item in Model)
                    {




                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products" itemscope itemtype="http://schema.org/Product">
                                    <div class="productinfo text-center">
                                        <a href="#" data-toggle="modal" data-target="#tips-@item.CodProducto"><img src="~/ImgProductos/@item.Imagen" alt="Producto" style="width:248px;height:248px;" itemprop="image" /></a>
                                        <h2 itemprop="price">$@item.PrecioVenta</h2>
                                        <p itemprop="name">@item.Descripcion</p>
                                        <a href="/Comprar/AgregarItem?codProducto=@item.CodProducto" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                        <a href="#" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#mail-@item.CodProducto"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>





                        //FORMULARIO DE MAIL INICIO
                        <div class="modal fade" id="mail-@item.CodProducto" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <center><h1 class="modal-title" style="color:#B4B1AB;font-family:abel"><span style="color:#FE980F">UAI</span>-BAY</h1></center>
                                    </div>
                                    <div class="modal-body">
                                        <form id="loginForm" method="post" class="form-horizontal" name="contact-form" action="/Home/Email">
                                            <div class=" form-group">
                                                <label class="col-xs-3 control-label" style="color:#B4B1AB">E-mail</label>
                                                <div class="col-xs-5">
                                                    <input type="email" class="form-control" name="txtemail" id="email" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3 control-label" style="color:#B4B1AB">Nombre</label>
                                                <div class="col-xs-5">
                                                    <input type="text" class="form-control" name="txtnombre" required />

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3 control-label" style="color:#B4B1AB">Apellido</label>
                                                <div class="col-xs-5">
                                                    <input type="text" class="form-control" name="txtapellido" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3 control-label" style="color:#B4B1AB">Mensaje</label>
                                                <div class="col-xs-5">
                                                    <textarea class="form-control" name="txtmensaje" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-3 control-label" style="color:#B4B1AB">CAPTCHA</label>
                                                <div class="col-xs-5">
                                                    <div id="@item.CodProducto"></div>
                                                    @*<div class="g-recaptcha" data-sitekey="6Lc8WQcUAAAAABQKSITdXbc6p9HISCQhZIJwm2Zw"></div>*@
                                                    <div class="g-recaptcha" data-sitekey="6Ld8qQwUAAAAAE81mzcrniXUbK-KUn2BTNirnzuH"></div>
                                                    <span id="captcha" style="color:red" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-5 col-xs-offset-3">
                                                    <button type="submit" class="btn btn-default add-to-cart">Enviar</button>
                                                    <button type="button" class="btn btn-default add-to-cart" data-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        //FORMULARIO DE MAIL FIN



                        //POPUP DE PRODUCTO

                        using (Html.BeginForm("AgregarItemPopUp", "Comprar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="modal fade" id="tips-@item.CodProducto" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content modal-dialog">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <center><h1 class="modal-title" style="color:#B4B1AB;font-family:abel"><span style="color:#FE980F">UAI</span>-BAY</h1></center>
                                        </div>
                                        <div class="product-details" itemscope itemtype="http://schema.org/Product">
                                            <!--product-details-->
                                            <div class="col-sm-5">
                                                <div class="view-product">
                                                    <img src="~/ImgProductos/@item.Imagen" alt="Producto" style="width:248px;height:248px;" itemprop="image" />
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="product-information" style="border:none">
                                                    @Html.Hidden("codProducto", @item.CodProducto)
                                                    <h2 itemprop="name">@item.Descripcion</h2>
                                                    <span>
                                                        <span itemprop="price">$@item.PrecioVenta Por unidad</span>
                                                        <label>Cantidad:</label>



                                                        <a href="#" onclick="restar(@item.CodProducto)" class="restar btn btn-flat" id="@item.CodProducto"><i class="fa fa-minus-circle " style="margin:auto 0"></i></a>


                                                        <input type="text" id="@string.Concat("cant",@item.CodProducto)" value="1" readonly="readonly" name="cantidad" />


                                                        <a href="#" onclick="sumar(@item.CodProducto)" class="sumar btn btn-flat" id="@item.CodProducto"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>



                                                        <button type="submit" class="btn btn-fefault cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            Agregar al carrito
                                                        </button>
                                                    </span>
                                                    <a href=""><img src="~/Content/images/product-details/share.png" class="share img-responsive" alt="Compartir" /></a>
                                                </div>
                                            </div>



                                            @*PRODUCTOS ALEATORIOS*@
                                            <div class="col-sm-12">
                                                <div id="similar-product" class="carousel slide" data-ride="carousel">
                                                    <center>
                                                        <h2 class="title text-center">Otros productos</h2>


                                                        <div class="carousel-inner">
                                                            <div class="item active" style="width:248px;height:248px;">
                                                                <a href="/Producto/BuscarProducto?productoBuscar=@ViewBag.PrimerProducto.Descripcion"><img src="~/ImgProductos/@ViewBag.PrimerProducto.Imagen" alt="@ViewBag.PrimerProducto.Descripcion" itemprop="image" /></a>
                                                            </div>


                                                            @foreach (var pr in ViewBag.ProductosAleatorios)
                                                            {

                                                                <div class="item" style="width:248px;height:248px;">
                                                                    <a href="/Producto/BuscarProducto?productoBuscar=@pr.Descripcion"><img src="~/ImgProductos/@pr.Imagen" alt="@pr.Descripcion" itemprop="image" /></a>
                                                                </div>
                                                            }


                                                        </div>

                                                    </center>
                                                    <a class="left item-control" href="#similar-product" data-slide="prev">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                    <a class="right item-control" href="#similar-product" data-slide="next">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                }
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>




<script type="text/javascript">

    $('.form-horizontal').on('submit', function (e) {
        if (grecaptcha.getResponse() == "") {
            e.preventDefault();
            alert("Por favor robot complete el captcha");
        }
        //else {
        //    alert("Gracias");
        //}
    });


    function restar(b) {
        changeQuantity(-1, b);
    };

    function sumar(b) {
        changeQuantity(1, b);
    };


    function changeQuantity(num, obj) {
        $(document).ready(function () {

            var cod = obj;

            var value_to_set = parseInt($('#cant' + cod.toString()).val()) + num;
            if (value_to_set <= 1) { $('#cant' + cod.toString()).val(1); return; }
            if (value_to_set > 9) { $('#cant' + cod.toString()).val(9); return; }
            $('#cant' + cod.toString()).val(value_to_set);
        })
    };

</script>
