@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>UAI</span>-BAY</h1>
                                <h2>@UAIBay.WebSite.Resources.Recurso.BannerslideComunidadTitulo</h2>
                                <p>@UAIBay.WebSite.Resources.Recurso.BannerslideComunidadParrafo</p>

                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/index/slidder-cart.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>UAI</span>-BAY</h1>
                                <h2>@UAIBay.WebSite.Resources.Recurso.BannerslideComprasTitulo</h2>
                                <p>@UAIBay.WebSite.Resources.Recurso.BannerslideComprasTitulo</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/index/delivery.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>UAI</span>-BAY</h1>
                                <h2>@UAIBay.WebSite.Resources.Recurso.BannerslideCalidadParrafo</h2>
                                <p>@UAIBay.WebSite.Resources.Recurso.BannerslideCalidadTitulo</p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/index/fruta.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>@UAIBay.WebSite.Resources.Recurso.Categorias</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Almacen
                                </a>
                            </h4>
                        </div>
                        <div id="sportswear" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Aceites </a></li>
                                    <li><a href="#">Conservas </a></li>
                                    <li><a href="#">Snacks </a></li>
                                    <li><a href="#">Pastas Secas y Harinas</a></li>
                                    <li><a href="#">Galletitas </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Panificados
                                </a>
                            </h4>
                        </div>
                        <div id="mens" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Pan</a></li>
                                    <li><a href="#">Facturas</a></li>
                                    <li><a href="#">Tortas</a></li>
                                    <li><a href="#">Pizzas</a></li>
                                    <li><a href="#">Sandwiches</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                    Carnes
                                </a>
                            </h4>
                        </div>
                        <div id="womens" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Carne Vacuna</a></li>
                                    <li><a href="#">Carne de Cerdo</a></li>
                                    <li><a href="#">Pollo</a></li>
                                    <li><a href="#">Pescado</a></li>
                                    <li><a href="#">Embutidos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Bebidas</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Congelados</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Limpieza</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Perfumeria</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Importados</a></h4>
                        </div>
                    </div>
                </div><!--/category-products-->

                <div class="shipping text-center">
                    <!--shipping-->
                    <img src="~/Content/images/home/shipping.jpg" alt="" />
                </div><!--/shipping-->

            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">@UAIBay.WebSite.Resources.Recurso.NuestrosUltimosProductos</h2>

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="#" data-toggle="modal" data-target="#previewModal"><img src="~/Content/images/producto/bebida/freeze-blue-evolution.jpg" alt="" /></a>
                                <h2>$49</h2>
                                <p>Freeze Blue Evolution 1L</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                <a href="#" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#loginModal"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            @* COMIENZA EL MODAL VIEW *@
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                @*<h5 class="modal-title">*@<center><h1 class="modal-title" style="color:#B4B1AB;font-family:abel"><span style="color:#FE980F">UAI</span>-BAY</h1></center>@*</h5>*@
                            </div>
                            <div class="modal-body">
                                <!-- The form is placed inside the body of modal -->
                                <form id="loginForm" method="post" class="form-horizontal" name="contact-form" action="/Home/Email">
                                    <div class=" form-group">
                                        <label class="col-xs-3 control-label" style="color:#B4B1AB">E-mail</label>
                                        <div class="col-xs-5">
                                            <input type="email" class="form-control" name="txtemail" id="email" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" style="color:#B4B1AB">Nombre</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" name="txtnombre"  required />

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" style="color:#B4B1AB">Apellido</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" name="txtapellido" required />

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" style="color:#B4B1AB">Mensaje</label>
                                        <div class="col-xs-5">
                                            <textarea class="form-control" name="txtmensaje" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5 col-xs-offset-3">
                                            <div class="g-recaptcha" data-sitekey="6Ld8qQwUAAAAAE81mzcrniXUbK-KUn2BTNirnzuH"></div>
                                            <span id="captcha" style="color:red" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5 col-xs-offset-3">
                                            <button type="submit" class="btn btn-default add-to-cart" onclick="verificar()">Enviar</button>
                                            <button type="button" class="btn btn-default add-to-cart" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            @* FIN MODAL VIEW *@
                <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content modal-lg">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <center><h1 class="modal-title" style="color:#B4B1AB;font-family:abel"><span style="color:#FE980F">UAI</span>-BAY</h1></center>
                            </div>
                            <div class="product-details">
                                <!--product-details-->
                                <div class="col-sm-5">
                                    <div class="view-product">
                                        <img src="~/Content/images/producto/bebida/freeze-blue-evolution.jpg" alt="" style="border:none" />
                                    </div>
                                </div>
                                <div class="col-sm-7">

                                    <div class="product-information" style="border:none">
                                        <h2>Freeze Blue Evolution 1L</h2>
                                        <span>
                                            <span>$49 por unidad</span>
                                            <label>Cantidad:</label>
                                            <a href="#" class="btn btn-flat" id="restar"><i class="fa fa-minus-circle " style="margin:auto 0"></i></a>
                                            <input type="text" id="cantidad" value="1" readonly="readonly" />
                                            <a href="#" class="btn btn-flat" id="sumar"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                                            <button type="button" class="btn btn-fefault cart">
                                                <i class="fa fa-shopping-cart"></i>
                                                Agregar al carrito
                                            </button>
                                        </span>
                                        <a href=""><img src="~/Content/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div id="similar-product" class="carousel slide" data-ride="carousel">
                                        <center>
                                            <h2 class="title text-center">Productos relacionados</h2>
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <a href="#"><img src="~/Content/images/producto/conserva/salsati-pomarola-500gr.jpg" alt="" /></a>
                                                    @*<a href=""><img src="~/Content/images/producto/bebida/freeze-blue-evolution.jpg" alt="" /></a>*@
                                                </div>
                                                <div class="item">
                                                    <a href="#"><img src="~/Content/images/producto/golosina/milka-legger.png" alt="" /></a>
                                                </div>
                                                <div class="item">
                                                    <a href="#"><img src="~/Content/images/producto/mermelada/campagnola-frutilla.png" alt="" /></a>
                                                </div>
                                            </div>
                                        </center>
                                        <a class="left item-control" href="#similar-product" data-slide="prev">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                        <a class="right item-control" href="#similar-product" data-slide="next">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/images/producto/arroz/arroz-gallo-doble-red.jpg" alt="" />
                                <h2>$22</h2>
                                <p>Arroz Gallo 1KG</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/images/producto/conserva/salsati-pomarola-500gr.jpg" alt="" />
                                <h2>$12</h2>
                                <p>Salsati Pomarola 500gr</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/images/producto/galletita/rumba.png" alt="" />
                                <h2>$30</h2>
                                <p>Rumba x3</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                            </div>
                            <img src="~/Content/images/home/new.png" class="new" alt="" />
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/images/producto/golosina/milka-legger.png" alt="" />
                                <h2>$16</h2>
                                <p>Milka Legger 200gr</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                            </div>
                            <img src="~/Content/images/home/sale.png" class="new" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/Content/images/producto/mermelada/campagnola-frutilla.png" alt="" />
                                <h2>$36</h2>
                                <p>Mermelada Campagnola Frutilla 500gr</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@UAIBay.WebSite.Resources.Recurso.AgregarAlCarrito</a>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-plus-circle" style="margin:auto 0"></i></a>
                            </div>

                        </div>

                    </div>
                </div>

            </div><!--features_items-->
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#restar').click(function () {
            //get txtAmt value
            var valorProducto = $('#cantidad').val();
            valorProducto -= 1;

            if (valorProducto < 1) {

            }
            else {
                //change txtInterest% value
                $('#cantidad').val(valorProducto);
            }

        });
    });


       function verificar() {
           var rec = grecaptcha.getResponse();
           if (rec == "") {
               document.getElementById('captcha').innerHTML = "Por favor complete el Captcha";
           }
           else {
               document.contact-form.submit()
           }
       };

    $(document).ready(function () {
        $('#sumar').click(function () {
            //get txtAmt value
            var valorProducto = $('#cantidad').val();
            valorProducto = parseInt(1) + parseInt(valorProducto);

            if (valorProducto > 9) { }
            else {
                //change txtInterest% value
                $('#cantidad').val(valorProducto);
            }
        });
    });
</script>



