@{
    ViewBag.Title = "NuestraInformacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nuestrainfo">
    <h2><span>@UAIBay.WebSite.Resources.Recurso.Mision</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.MisionParrafo</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.Vision</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.VisionParrafo</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.Comunidad</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.ComunidadParrafo</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.Medioambiente</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.MedioambienteParrafo</p>
    <h2><span>@UAIBay.WebSite.Resources.Recurso.Colaboradores</span></h2>
    <p>@UAIBay.WebSite.Resources.Recurso.ColaboradoresParrafo</p>
</div>